---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <div id="main" class="w-full h-full"></div>

  <script>
    import { createApp } from 'vue'
    import App from '../components/App.vue'

    createApp(App).mount('#main')
  </script>
</Layout>

<style></style>
