---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <div id="app" class="w-full h-full"></div>

  <script>
    import { createApp } from 'vue'
    import ElementPlus from 'element-plus'
    import 'element-plus/dist/index.css'
    import App from '../components/App.vue'

    const app = createApp(App)
    app.use(ElementPlus)
    app.mount('#app')
  </script>
</Layout>

<style>
  html,
  body,
  #app {
    height: 100%;
  }
</style>
